<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SwagLabs App">
    <test name="Login Tests">
        <classes>
            <class name="com.solvd.LoginPageTest"/>
        </classes>
    </test>
    <test name="Products Testes">
        <classes>
            <class name="com.solvd.ProductPageTest"/>
        </classes>
    </test>
</suite>